body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
}

input[type="text"] {
  width: calc(100% - 100px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #d32f2f;
}

#playerData {
  margin-top: 20px;
}

#playerData p {
  font-size: 16px;
  margin-bottom: 5px;
}

#playerData h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
